.DS_Store
tmp
bin
build

*/*/modules
*/*/modules*
.apt_generated
build.properties
.svn
*.pyc
*~.nib/
*.pbxuser
*.perspective
*.perspectivev3
*.xcworkspace/
xcuserdata
*.xcuserstate
*.xcuserdata*

/metadata.json
/dist
/metadata.json
